body {
  font-family: Arial;
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px #0002;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0059cc;
}

p {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
